<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.PersonMapper">

    <select id="getPersonById" resultMap="personMap">
        select p.*,d.id as d_id,d.name as d_name,d.weight
        from person p
        left outer JOIN dog d
        on p.id = d.p_id
        where p.id =#{id}
    </select>
    <select id="getAllPerson" resultMap="personMap">
        select p.*,d.id as d_id,d.name as d_name,d.weight
        from person p
        left outer JOIN dog d
        on p.id = d.p_id
    </select>

    <resultMap id="personMap" type="com.springboot.bean.Person">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <collection property="dogList" ofType="com.springboot.bean.Dog">
            <id property="id" column="d_id"/>
            <result property="name" column="d_name"/>
            <result property="weight" column="weight"/>
        </collection>
    </resultMap>

</mapper>