<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="param" method="post">
        username:<input type="text" name="username"/><br/>
        password:<input type="text" name="password"/><br/>
        age:<input type="text" name="age"/><br/>
        province:<input type="text" name="province"/><br/>
        city:<input type="text" name="city"/><br/>
        county:<input type="text" name="county"/><br/>
        <input type="submit" value="添加">
    </form>
</body>
</html>